body {
    background: #08323D;
    padding-top: 10em;
    display: flex;
    justify-content: center;

  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    display: flex;
    color: #05FDA2;
    font-size: 2em;
    font-family: 'VT323', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
      text-shadow: 3px 3px 0px rgba(5,253,162,0.3);
      margin: auto; /* Important */ 
      text-align: center;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #05FDA2 }
  }
