.background {
    background-image: url('/images/hero-BG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0.8;

    .overlay{
        background: var(--gradiant2);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
    }
}
@media screen and (max-width: 768px) {
    .background {
        background-position: center;
        background-size: cover;
    }
}